.one{
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: blue;
}

.two{
    height: 200px;
    margin-left: 300px;
    background-color: red;
}

/* 第二种方法使用BFC */
.ones{
    float: left;
    height: 100px;
    width: 300px;
    background-color: blue;
}

.twos{
    overflow: hidden;
    height: 200px;
    background-color: red;
}